#mmwpwapr * {
  box-sizing: border-box;
}
#mmwpwapr {
  position: fixed;
  width: 300px;
  box-sizing: border-box;
  z-index: 999;
}
#mmwpwapr.bottomleft {
  bottom: 4px;
  left: 4px;
}

#mmwpwapr.bottomcenter {
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}

#mmwpwapr.bottomright {
  bottom: 4px;
  right: 4px;
}
.mmwpwagreeting {
  font-size: 15px;
}
#mmwpwaclose.inactive {
  display: none;
}
#mmwpwaopen.inactive {
  display: none;
}
#mmwpwabot {
  padding: 4px;
}
.mmwpwaitem {
  width: 100%;
}
.staffname {
  font-size: 15px;
  font-weight: 700;
}
.staffjob {
  font-size: 13px;
  font-weight: 400;
  color: #666666;
}
.mmwpwabtn {
  cursor: pointer;
}
#Layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9998;
  cursor: pointer;
}
