#mmwpwapr.style3.inactive {
  transform: translateY(calc(100% + 60px));
  -webkit-transform: translateY(calc(100% + 60px));
  -moz-transform: translateY(calc(100% + 60px));
  -ms-transform: translateY(calc(100% + 60px));
  -o-transform: translateY(calc(100% + 60px));
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
#mmwpwapr.style3.active {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  z-index: 9999;
}

#mmwpwatoggleOpen {
  position: fixed;
  top: 50%;
  left: 4px;
  background-color: darkred;
  color: white;
  padding: 1rem 8px;
  font-size: 15px;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateY(50%);
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
  font-weight: 700;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 9999;
}

#mmwpwatoggleOpen span {
  position: relative;
  left: 2px;
}

/**
=========================
*NAME: Top Section
*=========================
*/

#mmwpwatop.style3 {
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 60px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  font-size: 15px;
}

.mmwpwalogo.style3 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -38px;
}

/**
=========================
*NAME: Bottom Section
*=========================
*/
#mmwpwabot.style3 {
  padding: 8px 4px;
  display: grid;
  gap: 16px;
}
.mmwpwaitem {
  display: grid;
  grid-template-columns: 54px 1fr;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.mmwpwaleft.style3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  margin: 4px;
  background-color: darkred;
}
.mmwpwaright.style3 {
  display: grid;
  grid-template-columns: 90px 1fr;
  height: 100%;
}
.mmwpwastaffwr.style3 {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.mmwpwabtnwr.style3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  gap: 8px;
}
.mmwpwabtn {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
