#mmwpwapr.style2.active {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

#mmwpwapr.style2.inactive {
  transform: translateY(calc(100% - 5rem));
  -webkit-transform: translateY(calc(100% - 5rem));
  -moz-transform: translateY(calc(100% - 5rem));
  -ms-transform: translateY(calc(100% - 5rem));
  -o-transform: translateY(calc(100% - 5rem));
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

#mmwpwaclose.style2.active {
  position: absolute;
  font-size: 12px;
  line-height: 1.2;
  top: -2rem;
  right: 0;
  padding: 4px;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#mmwpwaopen.style2.active {
  position: absolute;
  font-size: 12px;
  line-height: 1.2;
  top: -2rem;
  right: 0;
  padding: 4px;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*=========================Top Section=========================*/
#mmwpwatop.style2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
  position: relative;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  padding: 4px 8px;
  text-align: center;
  line-height: 1.3;
  z-index: 0;
}

#mmwpwatop.style2.nologo {
  display: grid;
  align-items: center;
  padding: 8px;
}
#mmwpwatop.style2.nologo .mmwpwagreeting {
  font-size: 16px;
  text-align: center;
}

.mmwpwalogo.style2 {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 6px;
}
.mmwpwalogo.style2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.mmwpwalogo.style2 i {
  fill: white;
  font-size: 32px;
}

/*=========================Bottom Section=========================*/
#mmwpwabot.style2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;
}
/*=========================Staff Item=========================*/
.mmwpwaitem.style2 {
  width: 100%;
  padding: 4px;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.mmwpwaright.style2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4px;
}
.mmwpwastaffwr.style2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.staffname.style2 {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}
.staffjob.style2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.mmwpwabtnwr.style2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.mmwpwabtn.style2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.2);
}
